/* AgeQuestion.css */
.body{
    background-color: rgb(255, 255, 255);
    height: 420px;
}
.age-question-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 5% 10%;
    width: 80vw;
    max-width: 1300px;
    height: 480px;
    color: rgb(0, 0, 0);
    
  }
  
  .age-question-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-right:55px;
    font-size: 21px;
  }
  
  .age-image {
    width: 350px;
    height: auto;
  }
  
  .age-options-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    margin-left: 88px;
    font-size :18px; ;
  }
  
  .age-options {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 20px;
  }
  
  .age-option {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .age-option input {
    margin-right: 10px;
  }
  
  .selected {
    background-color: #04515a;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .navigation-buttons1 {
    display:flex;
    justify-content:center;
    margin-top: 20px;
  }
  .navigation-buttons2 {
    display:flex;
    justify-content:center;
    margin-top: 20px;
  }
  .navigation-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px; /* Add margin between buttons */
  }
  
  .navigation-button:hover {
    background-color: #0cc2b5;
  }
  .logo-image {
    height:150px;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    
  }
  .home-button {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .home-button img {
    width: 30px;
    height: 30px;
  }