.App {
    text-align: center;
    background-color: hsl(178, 72%, 30%);
  }

 /* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: -70px;
    right: 550px;
    background-color: rgba(20, 13, 159, 0);
    color: rgb(0, 0, 0);
    padding-left: 0px;
    padding-right: 0px;
  }
  .my-button{
    border-radius: 50px;
    border: 10px solid #ffffff;
    padding: 50px 50px;
    background: rgb(136, 16, 88);
    font-size: 1.9em;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    cursor: pointer;}

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      /*height: 200vh;*/
      background-color: hsl(0, 60%, 41%);
    }
    
    .box {
      width: 1200px;
      height: 1000px;
      align-items: first baseline;
      background-color: #129f5f;
      font-size: medium;
      border: 6px solid #ffffff;
      padding: 20px;
    }

    .stylish-button {
      background-color: hsl(0, 0%, 100%);
      color: rgb(0, 0, 0);
      font-family:'Lucida Sans';
      font-size: 2.9em;
      padding: 30px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

    .header {
      position: relative; /* To allow positioning within the header */
      height: 100%; /* Set the desired height */
      overflow: hidden; /* Hide any overflow if the video is larger than the header */
      }
      
      .header-video {
      width: 100%; /* Set the width to 100% to ensure it covers the header's width */
      height: 100%; /* Set the height to 100% to maintain aspect ratio */
      object-fit: cover; /* Maintain aspect ratio and cover the available space */
      }

      
      .intro-video {
        width: 100%; /* Set the width to 100% to ensure it covers the header's width */
        height: 100%; /* Set the height to 100% to maintain aspect ratio */
        
        }